.titlebar {
  height: 45px;
  background: #2d4654;
  user-select: none;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
}
.titlebar-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
}
#titlebar-minimize {
  color: #243b4a;
}

#titlebar-close {
  color: #243b4a;
}

#titlebar-minimize:hover {
  color: #5bbec3 !important;
}

#titlebar-close:hover {
  color: #b54d4d !important;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
  opacity: 0.5;
  border-radius: 15px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.swal2-show{
  border-radius: 15px;
}


.MainContainer {
  position: absolute;
  flex-direction: row;
  /* user-select: none; */
  height: 600px;
}

.App {
  position: relative;
  text-align: center;
  padding-left: 50px;
  /* left: 50px; */
  width: 750px;
  z-index: 0;
  height: 600px;
  overflow: hidden;
  background-color: #2d4654;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.Sidebar-Container{
  background-color: #243b4a;
  /* width: 50px; */
  display: flex;
  position: absolute;
  height: 100%;
  z-index: 100;
  left: 0;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #2d4654;
  min-height: 100vh;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
